{% extends 'base.html' %}

{% block detail_view %}

{% if user.is_authenticated %}
    ok
{% else %}
<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <div class="card shadow my-3 p-5">
                <h3>Add new Post:</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class = 'btn btn-warning '>
                </form>
            </div>
        </div>

{% endif %}

{% endblock detail_view %}


